:root {
  font-size: 1.5rem;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  padding: 0;
  margin: 0;

  padding: 10px
}

.video-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

video {
  width: 100%;
  height: auto;
  background-color: #000;
  /* Prevent hover preview in some browsers */
  /* pointer-events: none; */
}

.goal-button {
  /* margin-top: 10px; */
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  width: 100%;
  font-size: 0.8rem;
}

.goal-button:hover {
  background-color: #45a049;
}



/* Disable native hover preview */
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
    display: none !important;
}

/* Hide the progress bar entirely */
video::-webkit-media-controls-timeline-container {
    display: none !important;
}

/* Custom progress bar */
.custom-progress {
    width: 100%;
    height: 5px;
    background: #ccc;
    position: relative;
}

.progress-bar {
    height: 100%;
    background: #f00;
    width: 0%;
    max-width: 100%;
}

.hidden {
  display: none !important;
}


#result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.video-with-controls {
  position: relative;
}

.video-with-controls video {
    /* I think this is because the video element still accounts for the non-existent controls. */
    margin-bottom: -6px;
}

.video-with-controls .controls {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 200px;
  height: 15vh;
}

.bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#header {
  text-align: center;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

#header h2 {
  margin-bottom: 0;
}

#header p {
  font-size: 0.8rem;;
  padding: 0;
  margin: 0;
}